<!DOCTYPE html>
<html lang="en">

head

<body>
header
<div class="clearfix"></div>
 <section class="bnrSection" id="main-slider">
 	<div class="container">
    	<div class="col-md-2 col-xs-12">
            left side bar
        </div>
        <div class="col-md-8 col-xs-12  minSlide">
        	<div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active mobSlide" style="background-image: url('{{asset("images/front-images/slider/banner.png")}}'); background-size: contain;">
          <div class="">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h2 class="animation animated-item-1">Transforming Business - Digital Way</h2>
                 <!-- <p>(Kindly Changes the background to put this message asthetic way)</p>-->
                </div>
              </div>
            </div>
            
            <div class="row">
            	<div class="col-sm-12">
                	<div class="nbs-flexisel-container">
                <div class="nbs-flexisel-inner">
                    <ul id="flexiselDemo3" class="nbs-flexisel-ul" style="display: block; left: -219.6px;">
						<li class="nbs-flexisel-item" style="width:250px;">Efficiency</li>
						<li class="nbs-flexisel-item" style="width:250px;">Enhanced Profitability </li>
						<li class="nbs-flexisel-item" style="width: 250px;">Business Intelligence </li>
					</ul>
                </div>
                
            </div>
                </div>
            </div>
            
            <div class="row">
            <div class="col-sm-12 col-md-12">
            	<div class="banrAd">
                	<img src="{{asset('images/front-images/bnr-add-img.jpg')}}" class="img-responsive">
                </div>
                <div class="banrAd">
                	<img src="{{asset('images/front-images/bnr-add-img.jpg')}}" class="img-responsive">
                </div>
                
            </div>
            </div>
          </div>
        </div>
        <!--/.item-->
      </div>
      <!--/.carousel-inner-->
    </div>
        </div>
        <div class="col-md-2 col-xs-12">
        	right side bar
        </div>
    </div>
 </section>

<section class="secMrgTop">
	<div class="feature">
    <div class="container">
    <div class="row">
    	<div class="flt"><h2>GCR Eco System</h2></div>
        <div class="flt">
        <!--<p>GCR is Global Channel Resources, bridging the gaps between solution providers and global channel partners.,<br/>
We collaborate with worldwide cloud-based/networking solution providers to enable channel partners providing IoT solutions and cloud services.</p>-->
    </div>
    </div>
    	
      <div class="text-center">
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          	<img src="{{asset('images/front-images/solu-img1.jpg')}}" class="img-responsive" alt="solu-img1">
          </div>
        </div>
        
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          	<img src="{{asset('images/front-images/solu-img2.jpg')}}" class="img-responsive" alt="solu-img1">
          </div>
        </div>
        
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          	<img src="{{asset('images/front-images/solu-img3.jpg')}}" class="img-responsive" alt="solu-img1">
          </div>
        </div>
        
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          	<img src="{{asset('images/front-images/solu-img4.jpg')}}" class="img-responsive" alt="solu-img1">
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          	<img src="{{asset('images/front-images/solu-img5.jpg')}}" class="img-responsive" alt="solu-img1">
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          	<img src="{{asset('images/front-images/solu-img6.jpg')}}" class="img-responsive" alt="solu-img1">
          </div>
        </div>  
      </div>
    </div>
  </div>
</section>
  
  

  <div class="about">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <ul class="cd-gallery">
        	<li>
			<a href="#">
				<ul class="cd-item-wrapper">
					<li class="selected">
						<img src="images/videos-slide-bg.jpg" class="img-responsive" alt="Preview image">
					</li>

					<li class="move-right" data-sale="true" data-price="$22">
						<img src="images/videos-slide-bg.jpg" class="img-responsive" alt="Preview image">
					</li>

					<li>
						<img src="images/videos-slide-bg.jpg" class="img-responsive"s alt="Preview image">
					</li>
				</ul> <!-- cd-item-wrapper -->
			</a>
			 <!-- cd-item-info -->
		</li>
        </ul>
       
      </div>
      
    </div>
  </div>

  <div class="lates">
    <div class="container">
      
      <div class="col-md-1 col-xs-12"></div>
      <div class="col-md-4 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h1>Customer Testimonial </h1>
        <div class="clearfix"></div>
       		<div id="myCarousel" class="carousel slide " data-ride="carousel">
                        
            <div class="carousel-inner">
		      <div class="item active testi">
				    	<div>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    		<div class="arrow-down"></div>
                        </div>
                         <div class="profile-circle">
               	   			<img src="images/client-img.jpg" alt="client-img"> 
                             <h3>Lorem Ipsum</h3> 
                             <p>Manager</p>                  	
                   </div>
	
				    </div>
				    <div class="item testi">
				    	<div>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    		<div class="arrow-down"></div>
                        </div>
                         <div class="profile-circle">
                         	<img src="images/client-img.jpg" alt="client-img">
                             <h3>Lorem Ipsum</h3>
                             <p>Manager</p> 
                         </div>
				    </div>
				    <div class=" item testi">
				    	<div>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    		<div class="arrow-down"></div>
                        </div>
                         <div class="profile-circle">
                         	<img src="images/client-img.jpg" alt="client-img">
                            <h3>Lorem Ipsum</h3>
                            <p>Manager</p> 
                         </div>
				    </div>
                    
                    
                    
				  </div>
            <!--<div class="carousel-inner">
               <div class="test"></div>       
                <div class="item active">
                                
                    <img src="http://placehold.it/760x400/cccccc/ffffff">
                    <div class="carousel-caption">
                    <h4><a href="#">Lorem ipsum dolor sit amet consetetur sadipscing</a></h4>
                   
                                    
                    </div>            
                </div>
 
                <div class="item">
                    <img src="http://placehold.it/760x400/999999/cccccc">
                    <div class="carousel-caption">
                    <h4><a href="#">consetetur sadipscing elitr, sed diam nonumy eirmod</a></h4>
                   
                    </div>
                </div>
        
                <div class="item">
                            
                    <img src="http://placehold.it/760x400/dddddd/333333">
                    <div class="carousel-caption">
                    <h4><a href="#">tempor invidunt ut labore et dolore</a></h4>
                   
                    </div>
                                
                </div>
                
   			</div>-->
   						
   			<!--<ul class="list-group col-md-3 carousel-indicators">
               
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1" ></li>
                    <li data-target="#myCarousel" data-slide-to="2" ></li> 
               
    		</ul>-->
        </div>
      </div>
<div class="col-md-1 col-xs-12"></div>
      <div class="col-md-4 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <h1>Let’s Get Social</h1>
        <div class="clearfix"></div>
      <img src="images/socail-vsit.jpg" class="img-responsive" alt="socail-vsit"> </div>
    </div>
  </div>

  <section id="partner">
    <div class="container">
      <div class="center wow fadeInDown">
        <h2>Our Platform Ecosystem Partners</h2>
        <p>(Explore the information below to learn more)</p>
      </div>

      <div class="partners">
        <ul>
          <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/acer.jpg"></a></li>
          <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/amazon.jpg"></a></li>
          <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/dhl.jpg"></a></li>
          <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/infinties.jpg"></a></li>
         <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/micrso-icon.jpg"></a></li>
        <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/asia-pay.jpg"></a></li>
        </ul>
      </div>
    </div>
    <!--/.container-->
  </section>
  <!--/#partner-->

  <footer>
    footer
  </footer>


    jslibrary

</body>

</html>
